.header-container {
  display: flex;
  height: 50px;
  padding: var(--spacing-small);
  background-color: var(--color-light-grey);
}

.header-counter {
  margin-left: auto;
  padding-right: var(--spacing-large);
  font-family: var(--f-f-montserrat);
  font-weight: var(--f-w-bold);
  cursor: pointer;
}
